<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Objects</title>
</head>
<body>
<nav>
    <a href="/settings"> Settings</a>
</nav>
<h1 th:text="'Hello,'+${userName}+'!!'"></h1>
<h2>Your Objects</h2>
<table th:if="${allObjects} != null">
    <tr th:each="object:${allObjects}">
        <td th:text="${object.id}"></td>
    </tr>
</table>
<h2>Create New Object</h2>
<form action="/objects/bucket" method="post" enctype="multipart/form-data">
    <label for="path">Path</label>
    <input type="text" name="path" id="path">
    <input type="file" name="file" id="file">
    <input type="submit" value="Send">
</form>
<h2>Create New Bucket</h2>
<form action="/objects/bucket" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <input type="submit" value="Send">
</form>
<h2>Your Buckets</h2>
<table th:if="${allBuckets} != null">
    <tr th:each="buckets:${allBuckets}">
        <td th:text="${buckets.uri}"></td>
    </tr>
</table>

</body>
</html>