<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Your Objects</h2>
<table th:if="${allObjects} != null">
  <tr th:each="uri:${allUris}">
    <td><a th:href="@{/objects{uri} (uri=${uri})}" th:text="${uri}"></a></td>
  </tr>
</table>
<h2>Create New Object</h2>
<form th:action ="@{/objects/{bucketName}(bucketName=${bucketName})}" method="post" enctype="multipart/form-data">
  <label for="path">Path</label>
  <input type="text" name="path" id="path" th:value="'/'">
  <input type="file" name="file" id="file">
  <input type="submit" value="Send">
</form>
</body>
</html>